*{
margin: 0;
padding: 0;
}
.mainContainer{
    height: 800px;
    background-image: url(../images/banner/banner1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content:right;

}
.header-title{

    text-align: right;
    margin-top: 300px;
    margin-right: 200px;
    
}
.Description-title{
    width: 400px;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.title{
    font-size: 50px;
    font-weight: bold;
}
.Description-title{
    color: #444343;
}

.btn{
    padding: 10px 20px;
    border: 0px;
    border-radius: 5px;
    background-color: red;
}
.year-main{
    margin-top: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.failure-description{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 320px;
    

}
.title{
    font-weight: bold;
    font-size: 35px;
}
.plane{
    margin-top: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}

.left-plane-content{
    display: flex;
    gap: 50px
}
.item1{
    text-align: center;
}
.item1 > p{
    text-align: center;
}
.plane-content{
    display: flex;
    gap: 100px;
    justify-content: center;
    margin-top: 40px;
}

